<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
        
        <% for (let style in pageVars.styles) { %>
        <%- include('../styles/' + style) %>
        <% } %>
        
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link rel="stylesheet" type="text/css" href="/css/topNav.css">
        
        <title><%= pageVars.title %></title>
    </head>
    <body>
        <%- include('../templates/topNav.ejs') %>
        <%- include(`../bodies/${pageVars.body}`) %>
        <%- include('../templates/footer.ejs') %>
    </body>
</html>
